body {
    max-width: 1440px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 472px;
    background-image: url(../img/blog/Bg.png);
}
.header-nav {
    display: flex;
    flex-direction: row;
}
.logo {
    margin-left: 160px;
    margin-top: 30px;
    width: 47px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.nav-list {
    margin-top: 34px;
    margin-left: 409px;
    display: flex;
    flex-direction: row;
    gap: 53px;
}
.nav-list-item1 {
    width: 53px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item2 {
    width: 52px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item3 {
    width: 29px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item4 {
    width: 101px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item5 {
    width: 18px;
    height: 24px;
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
}
.header-btn {
    margin-top: 24px;
    margin-left: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 32px 6px 28px;
    gap: 8px;
    width: 160px;
    height: 43px;
    border: 1px solid #7DF5CA;
    border-radius: 23px;
}
.header-btn-img {
    width: 12px;
    height: 12px;
}
.header-btn-text {
    margin-top: 5px;
    width: 80px;
    height: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.header-title {
    margin-left: 160px;
    margin-top: 178px;
    width: 743px;
    height: 56px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;
}
.header-text {
    margin-left: 160px;
    margin-top: 16px;
    width: 743px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section1 {
    width: 1440px;
    height: 1870px;
    background: #0F1D31;
}
.section1-container1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section1-contain1 {
    display: flex;
    flex-direction: row;
    gap: 31px;
    padding-left: 160px;
    padding-top: 104px;
}
.section1-contain1-box1 {
    background: url(../img/blog/Rectangle\ 24.png);
    padding-top: 304px;
    padding-left: 179px;
    width: 545px;
    height: 512px;
}
.section1-contain1-box1-textbox {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 192px;
    background: #041329;
    border-radius: 11px;
}
.section1-contain1-box1-textbox {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    width: 350px;
    height: 192px;
    background: #041329;
    border-radius: 11px;
}
.section1-contain1-box1-textbox-text1 {
    width: 318px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.section1-contain1-box1-textbox-text2 {
    width: 318px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 16px;
}
.section1-contain1-box1-textbox-text3 {
    width: 256.25px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-contain1-box2 {
    display: flex;
    flex-direction: row;
    width: 545px;
    height: 250px;
}
.section1-contain1-box2-textbox {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    width: 272.5px;
    height: 248px;
    background: #041329;
    border-radius: 11px;
}
.section1-contain1-box2-textbox {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    width: 272.5px;
    height: 248px;
    background: #041329;
    border-radius: 11px;
}
.section1-contain1-box2-textbox-text1 {
    width: 224.5px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.section1-contain1-box2-textbox-text2 {
    width: 224.5px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 16px;
}
.section1-contain1-box2-textbox-text3 {
    width: 256.25px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container1-box2-img {
    width: 272.5px;
    height: 248px;
}
.section1-container2 {
    display: flex;
    flex-direction: column;
}
.section1-contain2-box2 {
    display: flex;
    flex-direction: row;
}
.section1-contain2-box2-img {
    width: 272.5px;
    height: 248px;
}
.section1-contain2-box2-textbox {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    width: 272.5px;
    height: 248px;
    background: #0D2C59;
}
.section1-contain2-box2-textbox-text1 {
    width: 224.5px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.section1-contain2-box2-textbox-text2 {
    width: 224.5px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 16px;
}
.section1-contain2-box2-textbox-text3 {
    width: 256.25px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}