body {
    max-width: 1440px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 592px;
    background-image: url(../img/services/Bg.png);
}
.header-nav {
    display: flex;
    flex-direction: row;
}
.logo {
    margin-left: 160px;
    margin-top: 30px;
    width: 47px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.nav-list {
    margin-top: 34px;
    margin-left: 409px;
    display: flex;
    flex-direction: row;
    gap: 53px;
}
.nav-list-item1 {
    width: 53px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item2 {
    width: 52px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item3 {
    width: 29px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item4 {
    width: 101px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.nav-list-item5 {
    width: 18px;
    height: 24px;
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
}
.header-btn {
    margin-top: 24px;
    margin-left: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 32px 6px 28px;
    gap: 8px;
    width: 160px;
    height: 43px;
    border: 1px solid #7DF5CA;
    border-radius: 23px;
}
.header-btn-img {
    width: 12px;
    height: 12px;
}
.header-btn-text {
    margin-top: 5px;
    width: 80px;
    height: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.header-title {
    margin-top: 200px;
    margin-left: 160px;
    width: 743px;
    height: 56px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;
}
.header-text {
    margin-top: 16px;
    margin-left: 160px;
    width: 535px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1 {
    margin-top: -110px;
    margin-left: 819px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 32px;
    width: 462px;
    height: 336px;
    background: rgba(13, 44, 89, 0.82);
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.header-container1-title {
    width: 414px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
}
.header-container1-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 414px;
    height: 208px;
}
.header-container1-box1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 414px;
    height: 16px;
}
.header-container1-box1-text1 {
    width: 204px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box1-text2 {
    width: 178px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 414px;
    height: 16px;
}
.header-container1-box2-text1 {
    width: 204px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box2-text2 {
    width: 114px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 414px;
    height: 16px;
}
.header-container1-box3-text1 {
    width: 204px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box3-text2 {
    width: 178px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 414px;
    height: 16px;
}
.header-container1-box4-text1 {
    width: 204px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box4-text2 {
    width: 114px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 414px;
    height: 16px;
}
.header-container1-box5-text1 {
    width: 204px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.header-container1-box5-text2 {
    width: 114px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 104px 160px;
    isolation: isolate;
    background: #091322;
}
.section1-title {
    width: 228px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.section1-text {
    width: 729px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.3;
}
.section1-container1 {
    margin-top: 64px;
    gap: 24px;
    display: flex;
    flex-direction: row;
}
.section1-container1-box1 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container1-box1:hover {
    background: #0D2C59;
}
.section1-container1-box1-img {
    width: 40px;
    height: 40px;    
}
.section1-container1-box1-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container1-box1-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container1-box2 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container1-box2:hover {
    background: #0D2C59;
}
.section1-container1-box2-img {
    width: 40px;
    height: 40px;    
}
.section1-container1-box2-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container1-box2-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container1-box3 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container1-box3:hover {
    background: #0D2C59;
}
.section1-container1-box3-img {
    width: 40px;
    height: 40px;    
}
.section1-container1-box3-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container1-box3-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container1-box4 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container1-box4:hover {
    background: #0D2C59;
}
.section1-container1-box4-img {
    width: 40px;
    height: 40px;    
}
.section1-container1-box4-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container1-box4-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container2 {
    margin-top: 64px;
    gap: 24px;
    display: flex;
    flex-direction: row;
}
.section1-container2-box1 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container2-box1:hover {
    background: #0D2C59;
}
.section1-container2-box1-img {
    width: 40px;
    height: 40px;    
}
.section1-container2-box1-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container2-box1-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container2-box2 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container2-box2:hover {
    background: #0D2C59;
}
.section1-container2-box2-img {
    width: 40px;
    height: 40px;    
}
.section1-container2-box2-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container2-box2-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container2-box3 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container2-box3:hover {
    background: #0D2C59;
}
.section1-container2-box3-img {
    width: 40px;
    height: 40px;    
}
.section1-container2-box3-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container2-box3-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section1-container2-box4 {
    width: 262px;
    height: 240px;
    padding-left: 24px;
    padding-top: 32px;
    background: #041329;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.section1-container2-box4:hover {
    background: #0D2C59;
}
.section1-container2-box4-img {
    width: 40px;
    height: 40px;    
}
.section1-container2-box4-text1 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section1-container2-box4-text2 {
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section2 {
    width: 1440px;
    height: 512px;
    padding-left: 160px;
    padding-top: 96px;
    background: #0F1D31;
}
.section2-title {
    width: 456px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.section2-container1 {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 1120px;
    height: 240px;
}
.section2-container1-box1 {
    padding-left: 24px;
    padding-top: 32px;
    border-radius: 13px;
}
.section2-container1-box1:hover {
    background: #0D2C59;
}
.section2-container1-box1-text1 {
    width: 33px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #7DF5CA;
}
.section2-container1-box1-text2 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section2-container1-box1-text3 {
    margin-top: 16px;
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section2-container1-box2 {
    padding-left: 24px;
    padding-top: 32px;
    border-radius: 13px;
}
.section2-container1-box2:hover {
    background: #0D2C59;
}
.section2-container1-box2-text1 {
    width: 33px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #7DF5CA;
}
.section2-container1-box2-text2 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section2-container1-box2-text3 {
    margin-top: 16px;
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section2-container1-box3 {
    padding-left: 24px;
    padding-top: 32px;
    border-radius: 13px;
}
.section2-container1-box3:hover {
    background: #0D2C59;
}
.section2-container1-box3-text1 {
    width: 33px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #7DF5CA;
}
.section2-container1-box3-text2 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section2-container1-box3-text3 {
    margin-top: 16px;
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section2-container1-box4 {
    padding-left: 24px;
    padding-top: 32px;
    border-radius: 13px;
}
.section2-container1-box4:hover {
    background: #0D2C59;
}
.section2-container1-box4-text1 {
    width: 33px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #7DF5CA;
}
.section2-container1-box4-text2 {
    margin-top: 24px;
    width: 214px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section2-container1-box4-text3 {
    margin-top: 16px;
    width: 214px;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section3 {
    display: flex;
    flex-direction: row;
    background: #041329;
    padding-left: 160px;
    padding-top: 103px;
    margin-right: 88px;
    width: 1441px;
    height: 944px;
}
.section3-container1 {
    display: flex;
    flex-direction: column;
}
.section3-container1-title {
    width: 328px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}
.section3-container1-contain1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 29px;
}
.section3-check1 {
    width: 32px;
    height: 32px;
}
.section3-container1-contain1-textbox1 {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}
.section3-container1-contain1-textbox1-text1 {
    width: 497px;
    height: 64px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}
.section3-container1-contain1-textbox1-text2 {
    width: 497px;
    height: 128px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.4;
    
}
.section3-container1-contain2 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 29px;
}
.section3-check2 {
    width: 32px;
    height: 32px;
}
.section3-container1-contain2-textbox1 {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}
.section3-container1-contain2-textbox1-text1 {
    width: 497px;
    height: 64px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}
.section3-container1-contain2-textbox1-text2 {
    width: 497px;
    height: 128px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.4;
    
}
.section3-container1-contain3 {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.section3-check3 {
    width: 32px;
    height: 32px;
}
.section3-container1-contain3-textbox1 {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}
.section3-container1-contain3-textbox1-text1 {
    width: 497px;
    height: 64px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}
.section3-container1-contain3-textbox1-text2 {
    width: 497px;
    height: 128px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.4;
    
}
.section3-peaple-img {
    width: 648px;
    height: 724px;
    margin-left: 88px;
}
.section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1440px;
    height: 688px;
    background: #0F1D31;
    padding-left: 160px;
}
.section4-container1 {
    display: flex;
    flex-direction: column;
}
.section4-container1-title {
    width: 532px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.section4-container1-box {
    margin-top: 40px;
    gap: 48px;
}
.section4-container1-box-text1 {
    width: 242px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
}
.section4-container1-box-text2 {
    width: 242px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
}
.section4-container1-box2 {
    margin-top: 40px;
    gap: 48px;
}
.section4-container1-box2-text1 {
    width: 242px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
}
.section4-container1-box2-text2 {
    width: 242px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
}
.section4-container1-box2-text3 {
    margin-top: 31px;
    width: 532px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
}
.section4-container1-box2-text4 {
    margin-top: 31px;
    width: 532px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;
}
.section4-container1-box3 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 8px;
}
.section4-container1-box3-img {
    width: 16px;
    height: 16px;
}
.section4-container1-box3-text {
    width: 508px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.section4-container1-btn {
    margin-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 56px;
    gap: 8px;
    width: 200px;
    height: 47px;
    border: 1px solid #FFFFFF;
    border-radius: 64px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.section4-container2-text {
    width: 436px;
    height: 160px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.section4-container2-box {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.section4-container2-box-textbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-container2-box-text1 {
    width: 380px;
    height: 14px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
}
.section4-container2-box-text2 {
    width: 380px;
    height: 14px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section5 {
    width: 1440px;
    height: 672px;
    display: flex;
    flex-direction: column;
    padding: 120px 160px;
    background: #041329;
}
.section5-title {
    margin-left: 400px;
    width: 173px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}
.section5-text {
    margin-left: 250px;
    width: 729px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.3;
}
.section5-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 103px;
}
.section5-container1 {
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 192px;
    height: 186px;
}
.section5-container1-img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}
.section5-container1-text1 {
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-container1-text2 {
    width: 160px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section5-container2 {
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 192px;
    height: 186px;
}
.section5-container2-img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}
.section5-container2-text1 {
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-container2-text2 {
    width: 160px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section5-container3 {
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 192px;
    height: 186px;
}
.section5-container3-img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}
.section5-container3-text1 {
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-container3-text2 {
    width: 160px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section5-container4 {
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 192px;
    height: 186px;
}
.section5-container4-img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}
.section5-container4-text1 {
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-container4-text2 {
    width: 160px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section5-container5 {
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 192px;
    height: 186px;
}
.section5-container5-img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}
.section5-container5-text1 {
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-container5-text2 {
    width: 160px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section5-container6 {
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 192px;
    height: 186px;
}
.section5-container6-img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}
.section5-container6-text1 {
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}
.section5-container6-text2 {
    width: 160px;
    height: 18px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section6 {
    display: flex;
    flex-direction: column;
}
.section6-container1 {
    display: flex;
    flex-direction: row;
}
.section6-container1-img {
    width: 648px;
    height: 744px;
}
.section6-container1-textbox {
    gap: 24px;
    padding-left: 88px;
    padding-top: 103px;
    display: flex;
    flex-direction: column;
    background: #0D2C59;
    width: 1441px;
    height: 744px;
}
.section6-container1-textbox-text1 {
    margin-bottom: 8px;
    width: 246px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}
.section6-container1-textbox-text2 {
    width: 545px;
    height: 192px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section6-container1-1 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.section6-container1-1-img {
    width: 8px;
    height: 8px;
}
.section6-container1-1-text {
    width: 505px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.section6-container1-2 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.section6-container1-2-img {
    width: 8px;
    height: 8px;
}
.section6-container1-2-text {
    width: 505px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.section6-container1-3 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.section6-container1-3-img {
    width: 8px;
    height: 8px;
}
.section6-container1-3-text {
    width: 505px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.section6-container1-4 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.section6-container1-4-img {
    width: 8px;
    height: 8px;
}
.section6-container1-4-text {
    width: 505px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.section6-container1-5 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.section6-container1-5-img {
    width: 8px;
    height: 8px;
}
.section6-container1-5-text {
    width: 505px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.section6-container1-6 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.section6-container1-6-img {
    width: 8px;
    height: 8px;
}
.section6-container1-6-text {
    width: 505px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.section6-container2 {
    width: 1440px;
    height: 380px;
    background: #041329;
    padding-left: 160px;
    padding-top: 104px;
}
.section6-container2-title {
    width: 456px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}
.section6-container2-box1 {
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-top: 104px;
}
.section6-contain1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 32px 24px 32px;
    width: 211.2px;
    height: 128px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(13, 44, 89, 0.3);
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    z-index: 100;
}
.section6-contain1-apple {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.section6-contain1-apple-img {
    margin-top: 15px;
    width: 24px;
    height: 24px;
}
.section6-contain1-apple-text {
    width: 163px;
    height: 56px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 56px;
    color: #FFFFFF;
}
.section6-contain1-text {
    margin-top: 8px;
    width: 163.2px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section6-contain2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 32px 24px 32px;
    width: 211.2px;
    height: 128px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(13, 44, 89, 0.3);
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    z-index: 100;
}
.section6-contain2-google {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.section6-contain2-google-img {
    margin-top: 15px;
    width: 24px;
    height: 24px;
}
.section6-contain2-google-text {
    width: 163px;
    height: 56px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 56px;
    color: #FFFFFF;
}
.section6-contain2-text {
    margin-top: 8px;
    width: 163.2px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section6-contain3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 32px 24px 32px;
    width: 211.2px;
    height: 128px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(13, 44, 89, 0.3);
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    z-index: 100;
}
.section6-contain3-intel {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.section6-contain3-intel-img {
    margin-top: 15px;
    width: 24px;
    height: 24px;
}
.section6-contain3-intel-text {
    width: 163px;
    height: 56px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 56px;
    color: #FFFFFF;
}
.section6-contain3-text {
    margin-top: 8px;
    width: 163.2px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section6-contain4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 32px 24px 32px;
    width: 211.2px;
    height: 128px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(13, 44, 89, 0.3);
    box-shadow: 0px 11px 38px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    z-index: 100;
}
.section6-contain4-air-bnb1 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.section6-contain4-air-bnb1-img {
    margin-top: 15px;
    width: 24px;
    height: 24px;
}
.section6-contain4-air-bnb1-text {
    width: 163px;
    height: 56px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 56px;
    color: #FFFFFF;
}
.section6-contain4-text {
    margin-top: 8px;
    width: 163.2px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.34;
}
.section7 {
    display: flex;
    flex-direction: column;
    padding: 104px 160px;
    gap: 40px;
    width: 1440px;
    height: 720px;
    background: #0F1D31;
}
.section7-title {
    width: 456px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}
.section7-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.section7-container1 {
    display: flex;
    flex-direction: column;
    background: #041329;
    width: 362.67px;
    height: 448px;
}
.section7-container1-text1 {
    margin-top: 40px;
    margin-left: 24px;
    width: 314.67px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 24px;
    color: #FFFFFF;
}
.section7-container1-text2 {
    margin-left: 24px;
    margin-top: 8px;
    width: 314.67px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section7-container1-text3 {
    margin-left: 24px;
    margin-top: 16px;
    width: 256.25px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.section7-container2 {
    display: flex;
    flex-direction: column;
    background: #041329;
    width: 362.67px;
    height: 448px;
}
.section7-container2-text1 {
    margin-top: 40px;
    margin-left: 24px;
    width: 314.67px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 24px;
    color: #FFFFFF;
}
.section7-container2-text2 {
    margin-left: 24px;
    margin-top: 8px;
    width: 314.67px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section7-container2-text3 {
    margin-left: 24px;
    margin-top: 16px;
    width: 256.25px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.section7-container3 {
    display: flex;
    flex-direction: column;
    background: #041329;
    width: 362.67px;
    height: 448px;
}
.section7-container3-text1 {
    margin-top: 40px;
    margin-left: 24px;
    width: 314.67px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 24px;
    color: #FFFFFF;
}
.section7-container3-text2 {
    margin-left: 24px;
    margin-top: 8px;
    width: 314.67px;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.section7-container3-text3 {
    margin-left: 24px;
    margin-top: 16px;
    width: 256.25px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer {
    padding-top: 47px;
    padding-left: 160px;
    margin-top: -30px;
    background: #041329;
    width: 1440px;
    height: 426px;
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
}
.footer-logo {
    margin-right: 104px;
    width: 49px;
    height: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.footer-nav-list {
    display: flex;
    flex-direction: row;
    gap: 104px;
}
.footer-nav-list-item1 {
    width: 53px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-nav-list-item2 {
    width: 52px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-nav-list-item3 {
    width: 29px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-nav-list-item4 {
    width: 101px;
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-nav-list-item5 {
    width: 18px;
    height: 24px;
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-container {
    display: flex;
    flex-direction: row;
    gap: 81px;
    margin-left: 150px;
    margin-top: 21px;
}
.footer-container1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-container1-text1 {
    height: 24px;
    width: 45px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-container1-text2 {
    height: 24px;
    width: 74px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-container1-text3 {
    height: 24px;
    width: 76px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-container1-text4 {
    height: 24px;
    width: 96px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-container2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-container2-text1 {
    height: 24px;
    width: 45px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-container2-text2 {
    height: 24px;
    width: 74px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-container2-text3 {
    height: 24px;
    width: 76px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.4;
}
.footer-social {
    display: flex;
    margin-left: 400px;
    margin-top: 130px;
    gap: 20px;
}